body {
    background-color: rgb(141, 205, 224);
}

.background {
    background-image: url('/static/images/backgrounds/progress.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left;
    min-height: 384px;
}

.space {
    width: 672px;
}