.dropzone {
    min-height: 80px;
    background: rgba(137, 43, 226, 0.364);
    margin: 10px;
    padding: 10px;
}

.answer {
    min-height: 80px;
    background: rgba(226, 168, 43, 0.363);
    margin: 10px;
    padding: 10px;
}

.incomplete {
    background: rgb(43, 162, 226);
}

.done {
    background: rgb(43, 226, 70);
}

.fraction {
    margin: 10px;
    padding: 10px;
}

.status {
    margin: 30px;
}

.sound {
    height: 50px;
    margin: 5px;
}

.test, .evaluate, .reset {
    margin: 5px;
}

.btn-outline-success > i {
    color: green;
}

button:hover > i {
    color: white;
}

.educator {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btn-success > i {
    color: white;
}